@import "normalize.css";
@import "./normalize.css";

:root {
  --browser-font-size: 16px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  size: 100%;
  margin: 0;
  padding: 0;
}

body > div {
  height: 100%;
}

html {
  font-size: calcRelativeValue(18, 16, em);
}

@media (--desk) {
  html {
    font-size: calcRelativeValue(20, 16, em);
  }
}

body {
  font: var(--fontSizeBase)/var(--lineHeightBaseRatio) proxima nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: var(--colorTextBase);
  background: var(--backgroundBase);
  text-rendering: optimizeLegibility; /* Enable ligatures and kerning */
}

